/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
}

.navbar-biru {
  background-color: #3c8ce7;
  border-color: #5197e7;
}
.navbar-biru .navbar-brand {
  color: #ffffff;
}
.navbar-biru .navbar-brand:hover,
.navbar-biru .navbar-brand:focus {
  color: #ffffff;
}
.navbar-biru .navbar-text {
  color: #ffffff;
}
.navbar-biru .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-biru .navbar-nav > li > a:hover,
.navbar-biru .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-biru .navbar-nav > li > .dropdown-menu {
  background-color: #3c8ce7;
}
.navbar-biru .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-biru .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-biru .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #5197e7;
}
.navbar-biru .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #5197e7;
}
.navbar-biru .navbar-nav .open .dropdown-menu > .active > a,
.navbar-biru .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-biru .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #5197e7;
}
.navbar-biru .navbar-nav > .active > a,
.navbar-biru .navbar-nav > .active > a:hover,
.navbar-biru .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #5197e7;
}
.navbar-biru .navbar-nav > .open > a,
.navbar-biru .navbar-nav > .open > a:hover,
.navbar-biru .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #5197e7;
}
.navbar-biru .navbar-toggle {
  border-color: #5197e7;
}
.navbar-biru .navbar-toggle:hover,
.navbar-biru .navbar-toggle:focus {
  background-color: #5197e7;
}
.navbar-biru .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-biru .navbar-collapse,
.navbar-biru .navbar-form {
  border-color: #ffffff;
}
.navbar-biru .navbar-link {
  color: #ffffff;
}
.navbar-biru .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-biru .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-biru .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-biru .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-biru .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-biru .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-biru .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #5197e7;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-control span {
    margin-top: 250px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
